<div class="copyright"> <!--版权-->
    <a href="/" style="color: #9d9d9d">我的博客</a> 版权所有，保留一切权利 · 基于Django构建 ·  © 2018-2019
</div>
<style type="text/css" class="copyright">
    html {
     position: relative;
     min-height: 100%;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .copyright {
        background: #111;
        font-size: 13px;
        text-align: center;
        color: #555;
        padding-top: 14px;
        padding-bottom: 14px;
        border-top: 3px solid #337ab7;
    }
</style>
